#===================================================================================================
# SADMIN Alert Group file definition 
#
# Note : All scripts (Shell,Python,php), configuration file and screen output are formatted to 
#        have and use a 100 characters per line. Comments in script always begin at column 73. 
#        You will have a better experience, if you set screen width to have at least 100 Characters.
# 
#---------------------------------------------------------------------------------------------------
# This file is use when an Error or a Warning is detected by SADM System Monitor or when a script
# want to send an Alert. The scripts (Shell and Python) and SADMIN System Monitor sent alert to
# Group that are defined in thi file.
#
# - If the Alert Group file ($SADMIN/cfg/alert_group.cfg) file doesn't exist then the initial 
#   Alert Group file is created from the default Alert Group file ($SADMIN/cfg/.alert_group.cfg).
# - Blank line or line beginning with a pound sign (#) are ignored.
# - Field delimiter is a space. 
# - Don't change the alert group name once defined.
#
# ***FIRST COLUMN - GROUP NAME***
#   - Alert Group name is specify on each line in the SysMon (*.smon) config file of each system.
#   - Alert Group name MUST be unique within this file and can used up to 15 characters.
#
#   - USING ALERT GROUP IN SCRIPT (Shell/Python)
#       - You specify the Alert Group you wish to use by changing the line(s) below in the SADMIN
#         section at the beginning of your script (using the template sadm_template.[sh,py]).
#         Shell Script :
#           export SADM_ALERT_TYPE=3                # 0=None 1=AlertOnErr 2=AlertOnOK 3=Allways
#           export SADM_ALERT_GROUP="default"       # AlertGroup Used for Alert (alert_group.cfg)
#         Python Script :
#           st.cfg_alert_type   = 1                 # 0=NoMail 1=OnlyOnError 2=OnlyOnSucces 3=Allways
#           st.cfg_alert_group  = "default"         # AlertGroup used for Alert (alert_group.cfg)
#
#   - USING ALERT GROUP IN SADMIN SYSTEM MONITOR
#       - You specify the Alert Group you want to use for System Monitor Warning in column J and 
#         for Error in column K. In the example below, we use alerting group 'sdevops' for Warning
#         and 'sprod' for Error.
#       - Example of a ping test in line a hostname.smon of a client.
#           Column 1            2 3  4  5  6    7   8   9 A B C D E F G    H       I     J    K   L
#           ping_www.google.com 0 = 01 00 000 0000 0000 Y Y Y Y Y Y Y Y 00000000 0000 sdevops sprod -
#       - If the Alert group used in SysMon configuration don't exist in this file, the default group 
#         ('default') is use.
#
# SECOND COLUMN 
#   - This column can only have two values a 'm' and a 's' (Lowercase or Uppercase allowed).
#   - If it contain other value then 'm' is assumed.
#   - This column specify the alert group type :
#       - 'm' Specify a Mail Group and that the third field contain email address(es).
#       - 's' Specify a Slack Group and that the third field contain Slack channel(s).
#             Each Slack Channel MUST be defined in SADMIN Slack Channel File 
#             ($SADMIN/cfg/alert_slack.cfg).
#       - For now only one slack channel can be use per group (change will come)
#             
# THIRD COLUMN 
#   - For Alert of type 'm' (Email) : 
#       - Third column is the email address(es) corresponding to the mail group in column one.
#       - You can specify more than one email address. 
#         They must be separated by a comma and leave no space between them.
#         Example: email1@gmail.com,email2@company.com 
#   - For Alert of type 's' (Slack) :
#       - Third is the Slack Channel defined in SADMIN Slack Channel File.
#       - Channel name used MUST be define in the Slack Channel file ($SADMIN/cfg/alert_slack.cfg).
#       - For now only one slack channel can be use per group (change will come)
#
#===================================================================================================
#
# Don't delete this Group, use when specified group can't be found.
default    s sadm_dev
#default    m sysadmin1@acme.com,sysadmin2@acme.com
#
# Slack Alert Group
sdev       s sadm_dev
sprod      s sadm_prod
sinfo      s sadm_info
sdevops    s sadm_devops
#
# Email Alert Group
sysadmin   m sysadmin@acme.com
webteam    m webteam@acme.com,sysadmin@acme.com 
prod_team  m webteam@acme.com,sysadmin@acme.com,helpdesk@acme.com
#
#


