#===================================================================================================
# SADMIN Alert Group file definition 
#
# Note : All scripts (Shell,Python,php), configuration file and screen output are formatted to 
#        have and use a 100 characters per line. Comments in script always begin at column 73. 
#        You will have a better experience, if you set screen width to have at least 100 Char. wide.
# 
#---------------------------------------------------------------------------------------------------
# This file is use when an Error or a Warning is detected by SADM System Monitor or when a script
# need to send an Alert. The scripts (Shell and Python) and SADMIN System Monitor sent alert to
# Group that are defined in this file.
#
# - If the Alert Group file ($SADMIN/cfg/alert_group.cfg) file doesn't exist then it's created 
#   from the default Alert Group file ($SADMIN/cfg/.alert_group.cfg).
# - Blank line or line beginning with a pound sign (#) are ignored.
# - Field delimiter is a space. 
# - Each Alert Group Name MUST be unique and cannot contain spaces.
#
# ***FIRST COLUMN - GROUP NAME***
#   - Alert Group name is use in the SysMon (hostname.smon) config file to designated who to alert.
#   - Alert Group name MUST be unique within this file and can used up to 15 characters (No Space).
#
#   - USING ALERT GROUP IN SCRIPT (Shell/Python)
#       - You specify the Alert Group you wish to use by changing the line(s) below in the SADMIN
#         section at the beginning of your script (using the template sadm_template.[sh,py]).
#         Shell Script :
#           export SADM_ALERT_TYPE=3                # 0=None 1=AlertOnErr 2=AlertOnOK 3=Allways
#           export SADM_ALERT_GROUP="default"       # AlertGroup Used for Alert (alert_group.cfg)
#         Python Script :
#           st.cfg_alert_type   = 1                 # 0=NoMail 1=OnlyOnError 2=OnlyOnSucces 3=Allways
#           st.cfg_alert_group  = "default"         # AlertGroup used for Alert (alert_group.cfg)
#
#   - USING ALERT GROUP IN SADMIN SYSTEM MONITOR
#       - You specify the Alert Group you want to use for System Monitor Warning in column J and 
#         for Error in column K. In the example below, we use alerting group 'sdevops' for Warning
#         and 'sprod' for Error.
#       - Example of a ping test in line a hostname.smon of a client.
#           Column 1            2 3  4  5  6    7   8   9 A B C D E F G    H       I     J    K   L
#           ping_www.google.com 0 = 01 00 000 0000 0000 Y Y Y Y Y Y Y Y 00000000 0000 sdevops sprod -
#       - If the Alert group used in SysMon configuration don't exist in this file, the default group 
#         ('default') is use.
#
# SECOND COLUMN 
#   - This column can only have the values a 'm', 'c', 't' and a 's' (Lowercase/Uppercase allowed).
#   - If it contain other value then 'm' is assumed.
#   - This column specify the alert group type :
#       - 'm' Specify a Mail Group and that the third field contain email address(es).
#       - 's' Specify a Slack Group and that the third field contain Slack channel(s).
#             Each Slack Channel MUST be defined in SADMIN Slack Channel File 
#             ($SADMIN/cfg/alert_slack.cfg).
#             For now only one slack channel can be use per group (change will come)
#       - 'c' Specify a Cellular Name. The third field contain cellular number.
#       - 't' Specify a SMS (Texto) Group. The third field contain cellular name part of the group.
#             
# THIRD COLUMN 
#   - For Alert of type 'm' (Email) : 
#       - Third column is the email address(es) corresponding to the mail group in column one.
#       - You can specify more than one email address. 
#         They must be separated by a comma and leave no space between them.
#         Example: email1@gmail.com,email2@company.com 
#   - For Alert of type 's' (Slack) :
#       - Third is the Slack Channel defined in SADMIN Slack Channel File.
#       - Channel name used MUST be define in the Slack Channel file ($SADMIN/cfg/alert_slack.cfg).
#       - For now only one slack channel can be use per group (change will come)
#   - For Alert of type 'c' (Cellular Number) : 
#       - Third column is the cellular number corresponding to the cellular name in column one.
#         You can specify only one cellular number per 'c' type line.
#   - For Alert of type 't' (Texto, SMS) : 
#       - Third column is use to group cellular number together to form an alert Group.
#         If more than one is specified, they must be separated by a comma & no space between them.
#
#===================================================================================================

# Default Alert Group
# 1st column is the default Group Name 'default' (It should not be changed or deleted).
#       Use by default & when specified group can't be found
# 2nd column is the Group Type :
#   's'=    Slack Group 
#   'm'=    Email Group 
#   'c'=    Cellular Number 
#   't'=    Texto Group
# 3nd Depending on Group Type used, could be a SlackChannel (Type 's'), mail address ('m') or a texto ('t')
default             m   batman@batcave.com,robin@batcave.com
#default            s   sadm_prod
#default            c   cell_support_1 
#default            t   sms_sysadmin 


# Slack Alert Group 
# 1st column is the Group Name use in your script and in the System Monitor Config file.
# 2nd column is a 's' specifying that the group name will use the Slack api to send the alert.
# 3th column refer to the Slack channel name defined that refer to the Slack Web Hook in the Slack 
#   Alert file ($SADMIN/cfg/alert_slack.cfg).
sdev                s   sadm_dev
sprod               s   sadm_prod
sinfo               s   sadm_info
sdevops             s   sadm_devops


# Email Alert Group 
# 1st column is the email group game use in your script and in the System Monitor Config file.
# 2nd column is a 'm' specifying that the group name will use the mail system to send the alert.
# 3th column is the email address(es) you want to send the alert.
#     If more than one is specified, they must be separated by a comma & no space between them.
e_sysadmin          m   sysadmin@acme.com
e_webteam           m   webteam@acme.com,sysadmin@acme.com 


# Cellular number of individual 
# 1st column is the Name you give to identify the cellular number (No space in group name).
# 2nd column is a 'c' specifying that the line is a cellular definition.
# 3th column is the actual cellular number used to send the alert.
#     Only one number must be specied, if you want more use the SMS (Text) alert group below.
cell_support        c   5147577206
cell_telecom        c   4187570067
cell_custsup        c   5147570068
cell_support_1      c   5147779302
cell_support_2      c   5147779303


# SMS (Text) Alert Group (Use to group cellular number together to form a SMS Alert Group.)
# 1st column is the SMS (Texto) group name (No space in group name)
# 2nd column is a 't' specifying that the line is a SMS (Texto) group definition.
# 3th column is the cellular name previously defined used to send the alert.
#     If more than one is specified, they must be separated by a comma & no space between them.
sms_sysadmin        t   cell_support 
sms_emergency       t   cell_support,cell_telecom,cell_custsup



