# --------------------------------------------------------------------------------------------------
# SADMIN Service Definition V2.6 (Updated Feb 2024)
# If you modify this file, run these commands to make your change effective.
#   Enter   'systemctl disable sadmin.service' 
#           'systemctl enable  sadmin.service'
#           'systemctl restart sadmin.service' 
# --------------------------------------------------------------------------------------------------
#
[Unit]
Description=Control SADMIN stop/start script execution.
Requires=multi-user.target
After=multi-user.target
DefaultDependencies=no
Before=shutdown.target poweroff.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/bin/bash -a -c 'source /etc/environment && exec $SADMIN/sys/sadm_startup.sh'
ExecStop=/bin/bash  -a -c 'source /etc/environment && exec $SADMIN/sys/sadm_shutdown.sh'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
