# SADMIN Slack Channel file
# --------------------------------------------------------------------
# This file associate a channel (use in slackgroup.cfg) with a WebHook.
#
# This file define each channel that can be used to form a Slack Group 
# in the Slack Group file.
#
# Channel name used in a Slack Group MUST first be define in this file.
#
# - If the Slack Channel file ($SADMIN/cfg/slackchannel.cfg) file 
#   doesn't exist then an initial Slack Channel file is created from
#   the default Slack Channel file ($SADMIN/cfg/.slackchannel.cfg).
#
# - Blank line or line beginning with a pound sign (#) are ignored.
#
# FIRST COLUMN 
#   - First column of this file is the Slack Channel Name used in
#     the Slack Group file. 
#   - Default channel is 'chn_sadmin' - Don't delete this Channel.
#   - Don't change Slack Channel name once defined.
#   - Each name MUST be uniq and must NOT contains any space or 
#     special character.
#
#
# SECOND COLUMN 
#   - Second column is the Slack Web Hook obtain at the Slack Web site
#     after creating a WebHook for a specific channel.
#   - Each channel Name MUST refer to ONE Slack WebHook.
#     So ONE channel refer to ONE WebHook.
#   - There is not default channel Web Hook, you must create your own.
# --------------------------------------------------------------------
#
chn_sadmin  https://hooks.slack.com/services/
#
#chn_dev    https://hooks.slack.com/services/
#chn_prod   https://hooks.slack.com/services/
#
