# V2.1 - 23 May 2018
# JDuplessis - Git Ignore File
#
# It's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Project unwanted files extensions
[Tt]humbs.db
*.obj
*.exe
*.EXE
*.pdb
*.bak
*.log
*.cache
*.org
*.tmp

# Want the empties 'dat' and 'tmp' directories to be part of project (clone)
dat/*
!dat/.gitkeep
log/*
!log/.gitkeep
www/dat/*
!www/dat/.gitkeep
tmp/*
!tmp/.gitkeep
www/tmp/*
!www/tmp/.gitkeep

# SADMIN Directories Exclude
usr/*
!usr/bin
!usr/lib
jac/*
!jac/bin
.vscode/

# Web Directories
www/arc/
www/rrd/
www/lib/.crontab.txt


# Specific files to exclude 
sysmon.lock
.bash_history
.viminfo
.mysql_history
sys/*.log
cfg/.dbpass
cfg/*.cfg
cfg/*.smon
!cfg/.template.smon

# Python Related Exclude 
__pycache__/
**/__pycache__/
*.pyc

#  .DS_Store is a file that stores custom attributes of its containing folder
.DS_Store
.DS_Store?
._.DS_Store

# Linux Trash Can
.Trash-*/
.ICEauthority
.bash_history
.viminfo
.config/gnome-initial-setup-done
.config/user-dirs.dirs
.config/dconf/user
.config/nautilus/desktop-metadata
.config/yelp/yelp.cfg
.esd_auth
cfg/.dbpass
