# V2.3 - 27 May 2018
# JDuplessis - Git Ignore File
#
# It's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Project unwanted files extensions
[Tt]humbs.db
*.obj
*.exe
*.EXE
*.pdb
*.bak
*.log
*.cache
*.org
*.tmp

# Linux Specific Files
.bash_history
.viminfo
.mysql_history

# Python Related Exclude 
__pycache__/
**/__pycache__/
*.pyc

#  .DS_Store is a file that stores custom attributes of its containing folder
.DS_Store
.DS_Store?
._.DS_Store

# Linux Trash Can & Desktop
.Trash-*/
.ICEauthority
.config/gnome-initial-setup-done
.config/user-dirs.dirs
.config/dconf/user
.config/nautilus/desktop-metadata
.config/yelp/yelp.cfg
.esd_auth


# Want these directories dat, log and tmp to be part of project (but empty)
dat/*
!dat/.gitkeep
log/*
!log/.gitkeep
tmp/*
!tmp/.gitkeep

# Exclude $SADMIN/usr except $SADMIN/usr/bin,lib,sysmon_scripts and doc
usr/*
!usr/bin
!usr/doc
!usr/lib
!usr/sysmon_scripts

# Exclude $SADMIN/jac, except $SADMIN/jac/bin directory
jac/*
!jac/bin

.vscode/

# Web Dir. - Want these directories dat and tmp to be part of project (but empty)
www/dat/*
!www/dat/.gitkeep
www/tmp/*
!www/tmp/.gitkeep
# Web Dir. - Not Include $SADMIN/www/rrd Content
www/rrd/
# Web Dir. - No O/S Update crontab
www/lib/.crontab.txt

# Exclude SADM SYStem MONitor Lock File
sysmon.lock

# SADMIN Configuration Directory
cfg/*
!cfg/.sadmin.cfg
!cfg/.template.smon
!cfg/.release
!cfg/.version
!cfg/.versum
!cfg/.backup_list.txt

# SADMIN Setup Directory
setup/jac/*
