# V2.0a - 28 Jan 2018
# JDuplessis - Git Ignore File
#
# It's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Project unwanted files extensions
[Tt]humbs.db
*.obj
*.exe
*.EXE
*.pdb
*.bak
*.log
*.cache
*.org
*.tmp

# Want the empties 'dat' and 'tmp' directories to be part of project (clone)
dat/*
!dat/.gitkeep
log/*
!log/.gitkeep
www/dat/*
!www/dat/.gitkeep
tmp/*
!tmp/.gitkeep
www/tmp/*
!www/tmp/.gitkeep

# SADMIN Directories Exclude
jac/*
!jac/bin
.vscode/

# Web Directories
www/arc/
www/rrd/
www/cfg/.crontab.txt


# Specific files to exclude 
sysmon.lock
sys/*.log
cfg/.dbpass
cfg/*.txt
cfg/*.cfg
cfg/*.smon
!cfg/template.smon

# Python Related Exclude 
__pycache__/
**/__pycache__/
*.pyc

#  .DS_Store is a file that stores custom attributes of its containing folder
.DS_Store
.DS_Store?
._.DS_Store

# Linux Trash Can
.Trash-*/
