#!/bin/sh
#
# Run-level Startup script for the SADMIN Applications
# Provides:          sadmin
# Required-Start:    $local_fs $network
# Required-Stop:     $local_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: sadmin
# Description:       sadmin startup and shutdown script
#
# chkconfig: 345 98 19
# V2.0 June 2017 - Update
# V2.1 July 2017 - Added LSB tags to correct warning on Debian 7
#
SADM_DIR="${SADMIN:="/sadmin"}/sys"             ; export SADM_DIR
SADM_START="${SADM_DIR}/sadm_startup.sh"        ; export SADM_START
SADM_STOP="${SADM_DIR}/sadm_shutdown.sh"        ; export SADM_STOP
SADM_START_LOG="${SADM_DIR}/sadm_startup.log"   ; export SADM_START_LOG
SADM_STOP_LOG="${SADM_DIR}/sadm_shutdown.log"   ; export SADM_STOP_LOG


# If startup script is not found - exit script
if [ ! -f "$SADM_START" ] ; then echo "The script $SADM_START cannot be found" ; exit 1 ; fi

# If shutdown script is not found - exit script
if [ ! -f "$SADM_STOP"  ] ; then echo "The script $SADM_STOP cannot be found"  ; exit 1 ; fi

# Make sure the script are executable and only by root 
chmod 700 ${SADM_START} ; chmod 700 ${SADM_STOP}

# depending on parameter -- startup, shutdown, restart or usage display
case "$1" in
    start)
    	echo -n "Starting sadmin : "
       	$SADM_START >> ${SADM_START_LOG} 2>&1
       	echo "OK"
       	;;
    stop)
       	echo -n "Shutdown sadmin : "
        $SADM_STOP >> ${SADM_STOP_LOG} 2>&1
       	echo "OK"
        ;;
    restart)
       	$0 stop
       	$0 start
       	;;
    status)
       	chkconfig --list | grep sadmin
       	;;
    *)
       	echo "Usage: $0 start|stop|restart|status"
       	exit 1
esac
exit 0
