# V2.0 - SADMIN Service
#        Added Require Network.target 
#
[Unit]
Description=Control SysADMin Tools service
Requires=network.target
DefaultDependencies=no
Before=shutdown.target reboot.target
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/sadmin/sys/sadm_startup.sh
ExecStop=/sadmin/sys/sadm_shutdown.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

