[Desktop Entry]
Encoding=UTF-8
Name=Link to cfg2html - Config To HTML Collector (external mirror for beta versions) by ROSE SWE - free download and use!
Type=Link
URL=https://www.cfg2html.com/
Icon=text-html
