/* ---------------------------------------------------------------------------------------------- */
/*   SADMIN General Purpose CSS Section                                                           */
/* ---------------------------------------------------------------------------------------------- */
body {
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 0px;
    background-color: #EEEEEE;
    font-family: Helvetica, Arial, sans-serif;
}

/*
 a {
    text-decoration: none;
    color: red;
}
*/

h1, h2 {
    margin:0; 
}



/* ---------------------------------------------------------------------------------------------- */
/*          THIS SECTION IS USED FOR MAINTAINING AND VIEWING THE SERVER TABLE                     */
/*             Used by sadm_server_*.php and sadm_view_server.php Web Pages                       */
/* ---------------------------------------------------------------------------------------------- */
/* 
/* ===== FORM ATTRIBUTE ===== */

.form_rightside {
    width: 48%;  
    float: left;
    /*background-color: #3E5F80;*/
    margin-left: 20px;
    margin-right: auto;    
}
.form_leftside {
    width: 48%;  
    float: left;   
    /*background-color: #3E5F80;*/
    margin-left: auto;
    margin-right: auto;    
    
}
.server_form {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #C8DBBE;
    color: black;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    text-align: left;  
    padding: 2%;
}
/* ===== FORM LABEL ===== */
.server_label1 {
    float : left; 
    width : 35%;
    /*background-color: yellow;*/
}   
.server_label2 {
    float : left; 
    width : 35%;
    /*background-color: yellow;*/
}   

/* ===== FORM INPUT ===== */
.server_input {
    margin-bottom: 4x;
    color : black;
    width : 95%;
    /*background-color: green;*/
}  

/*           END OF SECTION USED FOR MAINTAINING AND VIEWING THE SERVER TABLE                     */
/* ===============================================================================================*/



/* ---------------------------------------------------------------------------------------------- */
/*          THIS SECTION IS USED FOR MAINTAINING AND VIEWING THE CATEGORY TABLE                   */
/*             Used by sadm_category_*.php and sadm_view_category.php Web Pages                   */
/* ---------------------------------------------------------------------------------------------- */
/* 
/* ===== FORM ATTRIBUTE ===== */
.cat_form {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #C8DBBE;
    color: black;
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    text-align: left;  
    padding: 2%;
}
/* ===== FORM LABEL ===== */
.cat_label {
    float : left; 
    width : 200px;

}   
/* ===== FORM INPUT ===== */
.cat_input {
    margin-bottom: 8px;
    color : black;
}  

/*           END OF SECTION USED FOR MAINTAINING AND VIEWING THE CATEGORY TABLE                   */
/* ===============================================================================================*/


table.sadm {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
    font-size: 13px;
}
table.sadm#cat_list {
    width: 75%;
}
table.sadm td, table.sadm th {
    border: 0px solid #ddd;
    padding: 0px;
}
table.sadm th {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}
table.sadm td {
    border-bottom: 3px solid #ddd;
    text-align: center;
}

}
/*table.sadm tr:nth-child(even) {background: #CCC}
table.sadm tr:nth-child(odd) {background: #FFF} */
table.sadm tr:hover {background-color: #ddd;}




/* ---------------------------------------------------------------------------------------------- */
/*   Table CSS Section                                                                             */
/* ---------------------------------------------------------------------------------------------- */

#table_rch {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    table-layout: auto;
}

#table_rch td, #table_rch th {
    border: 0px solid #ddd; 
    text-align: left;
    padding: 0px;
}
#table_rch th {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #4CAF50;
    color: white;
}
#table_rch td {
    border-bottom: 3px solid #ddd;
}    

/*#table_rch tr:nth-child(even) {background: #CCC}
#table_rch tr:nth-child(odd) {background: #FFF} */
#table_rch tr:hover {background-color: #ddd;}


/* ---------------------------------------------------------------------------------------------- */
/*   TOP of Page - Header CSS Section                                                             */
/* ---------------------------------------------------------------------------------------------- */
#sadmHeader {
    height: 90px;
    background-color: #06425C;
    color: white;
    text-align: left;
    padding: 1px 1px 1px 5px;
}
#sadmLogo {
    float: left;
    padding: 10px;
}
#sadmEntete1L {
    font-family: Verdana, Geneva, sans-serif;
    float: left;
    padding : 10px;
    font-size: x-large;
}
#sadmEntete1R {
    font-family: Verdana, Monaco, monospace;
    float: right;
    padding : 5px;
    text-align: right;
    font-weight: bold;
}


/* ---------------------------------------------------------------------------------------------- */
/*   Page Container CSS Section                                                                   */
/* ---------------------------------------------------------------------------------------------- */
#sadmContainer {
    padding: 1%;
    width: 96%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}




/* ---------------------------------------------------------------------------------------------- */
/*   Menu CSS Section                                                                             */
/* ---------------------------------------------------------------------------------------------- */
#sadmMenu {
    height: 25px;
    background-color: #814374;
    position: relative;
    left: 0px;
    top: 0px;
    float: none;
}
#sadmMenu ul {
    margin: 0;
    padding: 0;
}
#sadmMenu li {
    list-style-type: none;
    float: left;
    display: block;
    width: 103px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
/*    line-height:35px; */
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-bottom: 0px;
    padding-top: 2px;
}
#sadmMenu li a {
    text-decoration: none;
    color: #FFF;
}
#sadmMenu li:hover {
    background-color: #483D8B;
    height: 25px;
}
#sadmMenu ul ul {
    display: none;
    position: absolute;
/*    top: 100%; */
}
#sadmMenu ul ul li {
    min-width:125px;
    float:none;
    background-color: #814374;
    display:list-item;
    position: relative;
    text-align: left;
    padding-left:  2%;
}
#sadmMenu ul li:hover > ul {
    display:inherit;
}


/* ---------------------------------------------------------------------------------------------- */
/*   SideBar CSS Section                                                                          */
/* ---------------------------------------------------------------------------------------------- */
#sadmSideBarAndBodyContainer {
    width:100%;
    background: #CDBB79;
    float: left;
}

#sadmSideBar {
    width: 12%;
    background: #CDBB79;
    float: left;
    padding-left: 10px;
    font-size: 12px;
}

#sadmSideBar ul {
    margin: 0px;
    padding-left: 5px;
    list-style-type: none;
    text-align: left;

}

#sadmSideBar li {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 11px;
    color: #06425C;

}

#sadmSideBar li a {
    text-decoration: none;
    color: #003366 ;
    padding: 1px 0;
    font-weight: bold;

}
/*
  #sadmSideBar .selected {
    font-weight: bold;

}
*/

/* ---------------------------------------------------------------------------------------------- */
/*   Body Section - Page Heading for every page - CSS Section                                                                   */
/* ---------------------------------------------------------------------------------------------- */


#sadmMainBody {
    width: 88%;
    background-color: #ffffff;
    float: right;
    font-size: 8px;
    margin-left: auto;
    margin-right: auto; 
    min-height : 500px;
}

#sadmMainBodyHeading {
    color : #2D2E87;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 98%;
    padding: 0%;
    height: 30px;
    background-color: #A6E6B2 ;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 15px;
}

#sadmMainBodyHeadingLeft {
    width=40%;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    font-weight: bold;
    font-size : 17px;
}

#sadmMainBodyHeadingCenter {
    width=50%;
    float: left;
    margin-left: 25px;
    margin-top: 3px;
    font-weight: bold;
    font-size : 17px;
    text-align: center;
}

#sadmMainBodyHeadingRight {
    width=30%;
    float: right;
    margin-right: 10px;
    font-size : 12px;
    font-family: verdana;
    margin-top: 7px;
}

#sadmMainBodyPage {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 90%;
    padding: 0%;
    /* background-color: #A6E6B2 ; 
    color : #2D2E87;*/
    /* background-color: #CDCDCD ; */
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px;
}



/* ---------------------------------------------------------------------------------------------- */
/*   Footer CSS Section                                                                           */
/* ---------------------------------------------------------------------------------------------- */
#sadmFooter {
    clear: both; 
    font-size: 10px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #5F5F5F;
    text-align: center;
    color: white;
}

