/* ---------------------------------------------------------------------------------------------- */
/* Change Log
    2018_02_08 JDuplessis
        V 2.1 Added Bottom Button on Server Update Page
--------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------------------------- */
/*                      WRAPPER CSS FOR THE WHOLE SADMIN PAGE (EVERY PAGE)                        */
/* ---------------------------------------------------------------------------------------------- */

/* Body and HTML SADMIN Standard Page CSS */
body,html{
    min-height      :   100vh;
    font-family     :   Arial, "Segoe UI", Tahoma, Helvetica, sans-serif;
    font-size       :   12px;
    margin          :   0 auto;
    box-shadow      :   1px 1px 8px #888;
}
/* Heading 1 */
h1 {
	font-size       :   28px;
	font-weight     :   bold;
	margin          :   6px 20px 10px 0px;
}
/* Heading 2 */
h2 {
	font-size       :   26px;
	font-weight     :   normal;
	margin          :   6px 20px 10px 0px;
}
/* Heading 3 */
h3 {
	font-size       :   22px;
	font-weight     :   normal;
	margin          :   6px 20px 10px 0px;
}
/* Horizontal Line */
hr {
    display         :   block;
    height          :   1px;
    border          :   0;
    border-top      :   1px solid #ccc;
    margin          :   1em 0;
    padding         :   0;
    background-color:   black;
}
/* CSS for Standard Table */
table {
    font-family     :   'Arial';
    border-collapse :   collapse;
    width           :   90%;
    border          :   1px solid #eee;
    border-bottom   :   2px solid #00cccc;
    box-shadow      :   0px 0px 20px rgba(0,0,0,0.10),
                        0px 10px 20px rgba(0,0,0,0.05),
                        0px 20px 20px rgba(0,0,0,0.05),
                        0px 30px 20px rgba(0,0,0,0.05);
    /* border: medium solid #6495ed; */
}
/* Table Row BackupGround */
    tr:nth-child(even){ background:White; }
    tr:nth-child(odd) { background:#E2E4FF; }
/* Table Heading Line CSS */
th {
    font-family     :   arial;
    padding         :   5px;
    margin-top      :   5px;
    margin-bottom   :   5px;
    background-color:   #006456; 
    color           :    #fff;
    text-transform  :   uppercase;
    font-size       :   12px;
}
/* Table Detail Line CSS */
td {
    font-family     :   arial;
    padding         :   1px;
    text-align      :   left;
    background-color:    #ffffff;
    /* font-family: monospace; */
    /* border: thin solid #6495ed; */
}



/* ---------------------------------------------------------------------------------------------- */
/*                      WRAPPER CSS FOR THE WHOLE SADMIN PAGE (EVERY PAGE)                        */
/* ---------------------------------------------------------------------------------------------- */

#sadmWrapper{
    width           :   100%;
    height          :   100%;
    margin          :   0px;
    padding         :   0px;
}


/* ---------------------------------------------------------------------------------------------- */
/*              THIS SECTION IS USED FOR THE TOP OF PAGE OF EVERY WEB PAGE                        */
/* ---------------------------------------------------------------------------------------------- */
#sadmHeader{
    clear           :   both;
    text-align      :   center;
    background-color: #124f44; 
    color           : white;
    padding         :   10px;
    margin          :   2px;
    border-width    :   1px;
    border-style    :   solid;
    border-color    :   #000000;
    border-radius   :   10px;
    margin-bottom   :   12px;
    border-radius   :   15px;
	box-shadow      :   3px 3px 5px #888;
	position        :   relative;
	top             :   5px;    
    /* height          :   120px;
    padding         :   1px 1px 1px 5px; */
}
/* SADMIN LOGO IMAGE PLACEMENT */
#sadmLogo {
    float           :   left;
    padding         :   10px;
}

/* Page Heading Line 1 */
#sadmEnteteLine1{
    clear           :   both;
    line-height     :   1.0;
    padding         :   1px;
}
/* Page Heading Line 1 - Left of Line */
#sadmEntete1L {
    font-family     :   Verdana, Geneva, sans-serif;
    float           :   left;
    padding         :   5px;
    color           :   #FFFFFF;
    font-size       :   20px;
    text-decoration :   none;
	font-weight     :   bold;
    /* font-size: x-large; */
    /* color : white; */
}
/* Page Heading Line 1 - Right of Line */
#sadmEntete1R {
    font-family     :   Verdana, Monaco, monospace;
    float           :   right;
    color           :   #FF9800;
    padding         :   5px;
    font-size       :   14px;
    font-weight     :   bold;
    /* text-align: right; */
    /* color : #9B869C; */
    /* display: block; */
}
/* Page Heading Line 2 */
#sadmEnteteLine2{
    clear           :   both;
    line-height     :   1.0;
    padding         :   1px;
}
/* Page Heading Line 2 - Left of Line */
#sadmEntete2L{
    font-family     :   Verdana, Geneva, sans-serif;
    float           :   left;
    padding         :   5px;
    color           :   #FF9800;
    font-size       :   20px;
    text-decoration :   none;
	font-weight     :   bold;
    /* font-size: x-large; */
}
/* Page Heading Line 2 - Right of Line */
#sadmEntete2R {
    font-family     :   Verdana, Monaco, monospace;
    float           :   right;
    color           :   #FF9800;
    padding         :   5px;
    font-size       :   14px;
    text-align      :   right;
    font-weight     :   bold;
    /* color : #9B869C; */
    /* display: block; */
}


/* ---------------------------------------------------------------------------------------------- */
/*  THIS SECTION IS USED FOR THE MENU LINE IN THE HEADING AT THE TOP OF PAGE OF EVERY WEB PAGE    */
/* ---------------------------------------------------------------------------------------------- */
#sadmTopMenu{
    padding         :   2px;
    /* text-align      :   center; */
    width           :   100%;
    clear           :   both;
}
#sadmTopMenu ul{
    padding         :   0;
    margin          :   0;
    font-weight     :   bold;
    list-style      :   none;
}
#sadmTopMenu li{
    display         :   inline;
    font-size       :   14px;
    padding         :   0 1em;
}

#sadmTopMenu li>a:link, #sadmTopMenu li>a:visited
{
    color           :   #f6f9fa;
    white-space     :   nowrap;
    text-decoration :   none;
}
#sadmTopMenu li>a:hover,#sadmTopMenu li>a:active
{
    color           : #dfe07d;
    background-color: #124f44; 
    text-decoration :   none;
}


/* ---------------------------------------------------------------------------------------------- */
/*  Page Content Wrapper that include the .SideBar (Left) and the Page Content (.sadmRightColumn) */
/* ---------------------------------------------------------------------------------------------- */
#sadmPageContents{
    display         :   -ms-flex;
    display         :   -webkit-flex; /* Safari */
    display         :   flex;
}


/* ---------------------------------------------------------------------------------------------- */
/*                                  SADMIN SIDEBAR CLASS DEFINITION                               */
/* ---------------------------------------------------------------------------------------------- */
.SideBar{
    margin          :   2px;
    background-color:   #006456; 
    padding         :   10px;
    border-width    :   1px;
    border-style    :   solid;
    border-color    :   #000000;
    border-radius   :   10px;
    line-height     :   1.2;
    font-size       :   14px;
    width           :   10%;
    color           :   white;

}
.SideBarTitle{
    color           :   #FF9800;
    font-weight     :   bold;
}
.SideBarItem{
    margin-left     :   10px;
} 
.SideBarItem a:visited {
    color           :   rgb(235, 184, 16) ;
}
.SideBarItem a:link {
    color           :   white;
    text-decoration :   none;
}
.SideBarItem a:hover {
    color           :   yellow;
    background-color:   #80805c;
}
.SideBarItem a:active {
    color           :   red;
}



/* ---------------------------------------------------------------------------------------------- */
/*                CSS FOR THE RIGHT PAGE OF EVERY PAGE (RIGHT SIDE OF THE SIDEBAR)
/* ---------------------------------------------------------------------------------------------- */
#sadmRightColumn{
    overflow-y      :   hidden;
    margin          :   2px;
    background-color:   #e3ecec;
    padding         :   10px;
    border-width    :   1px;
    border-style    :   solid;
    border-color    :   #000000;
    border-radius   :   10px;
    font-size       :   16px;
    width           :   90%;
}



/* ---------------------------------------------------------------------------------------------- */
/*                          FOOTER USE FOR EVERY WEB PAGE OF SADMIN                               */
/* ---------------------------------------------------------------------------------------------- */
#sadmFooter{
    clear           :   both;
    background-color:   #FF9800;
    padding         :   12px;
    border-width    :   1px;
    border-style    :   solid;
    border-color    :   #000000;
    border-radius   :   10px;
    font-size       :   13px;
    text-align      :   center;
    box-shadow      :   3px 3px 5px #888;
    margin-top      :   5px;
    
}



/* ---------------------------------------------------------------------------------------------- */
/*              SIMPLE FORM (TWO COLUMNS - 1 FOR THE LABEL AND 1 FOR THE DATA                     */
/*               WE USED THIS FORM FOR SERVER CATEGORY AND GROUP MAINTENANCE                      */
/* ---------------------------------------------------------------------------------------------- */
/* Attribute for the Category, Group Maintenance Form */
.simple_form {
    font-family     :   Verdana, Geneva, sans-serif;
    background-color:   #fff5c3;
    color           :   black;
    width           :   50%;
    margin-top      :   5%;
    margin-left     :   auto;
    margin-right    :   auto;
    border          :   2px solid #000000;
    font-size       :   12px;
    text-align      :   left;
    padding         :   2%;
    border-width    :   1px;
    border-style    :   solid;
    border-color    :   #000000;
    border-radius   :   10px;
    line-height     :   1.7;    
}
/* Attribute for Column Name at the left of the form */
.simple_label {
    float           :   left;
    width           :   200px;
    font-weight     :   bold;    

}
/* Attribute for column Input at the right of the screen in the form */
.simple_input {
    float           :   left;
    margin-bottom   :   8px;
    color           :   black;
    width           :   200px;
    
}
/* Attribute for the Category, Group Main Screen Table (That List All Category, Group) */
#SimpleTable{
    width           :   98%;
    margin          :   auto;
}



/* ---------------------------------------------------------------------------------------------- */
/*              DOUBLE FORM (FOUR COLUMNS - 2 FOR THE LABEL AND 2 FOR THE DATA                    */
/*               WE USED THIS FORM FOR SERVER STATIC INFORMATION MAINTENANCE                      */
/* ---------------------------------------------------------------------------------------------- */
/* Attribute for the Category, Group Maintenance Form */
.double_form {
    font-family     :   Verdana, Geneva, sans-serif;
    background-color:   #fff5c3;
    color           :   black;
    width           :   50%;
    margin-top      :   2%;
    margin-left     :   auto;
    margin-right    :   auto;
    border          :   2px solid #000000;
    font-size       :   12px;
    text-align      :   left;
    padding         :   2%;
    border-width    :   1px;
    border-style    :   solid;
    border-color    :   #000000;
    border-radius   :   10px;
    line-height     :   1.7;    
    /* background-color:   #8ee9d4;      */
}
/* Attribute for Column Name at the left of the form */
.double_label {
    float           :   left;
    width           :   200px;
    font-weight     :   bold;    
}
/* Attribute for column Input at the right of the screen in the form */
.double_input {
    margin-bottom   :   8px;
    color           :   black;
    float           :   left;
    width           :   200px;
}



/* ---------------------------------------------------------------------------------------------- */
/*      CSS TO ALIGN THE TWO BUTTON AT THE BOTTOM OF A FORM (OK/CANCEL) (DELETE/CANCEL)           */
/*      THE TWO BUTTON ARE ALIGN IN THE CENTER OF PAGE AND HAVE SOME SPACE BETWEEN THEM           */
/* ---------------------------------------------------------------------------------------------- */
.two_buttons {
    width           :   100%;
}
.first_button{
    width           :   49%;
    float           :   left;
    text-align      :   right ;
}
.second_button{
    width           :   49%;
    float           :   right;
    text-align      :   left ;
}



/* ---------------------------------------------------------------------------------------------- */
/*              THIS SECTION IS USED FOR DISPLAYING THE SERVER SCREEN INFO                        */
/*                  Used by sadm_view_server_info.php Web Pages                                   */
/* ---------------------------------------------------------------------------------------------- */
div.server_data {
    font-family     :   Geneva, sans-serif;
    background-color:   #fff5c3;
    color           :    black;
    margin-left     :   15px;
    margin-right    :   auto;
    width           :   95%;
    height          :   650px; 
    border          :   1px solid #000000;
    text-align      :   left;
    padding         :   1%;
    /* font-size    :   12px; */
    /* margin       :   1px; */
}

/* ===== Server Left side of Server Info Screen  ===== */
div.server_leftside {
    width           : 43%;
    float           : left;
    margin-left     : 10px; 
    padding         : 5px;
    /* background-color: red; */
}
/* ===== Server Right side of Server Info Screen  ===== */
div.server_rightside {
    width           : 50%;
    float           : left;
    margin-left     : 10px; 
    padding         : 5px;
    /* background-color: blue; */
}

/* ===== Label on left size of the Server Info Screen ==== */
div.server_left_label {
    float           : left;
    width           : 45%;
    font-weight     : bold;
    /*font-family: "Verdana";*/
    /* font: 13px arial, sans-serif; */
    /*background-color: yellow;*/
}

/* ===== Label on right size of the Server Info Screen ==== */
div.server_right_label {
    float           : left;
    width           : 45%;
    font-weight     : bold;
    /* font: 13px arial, sans-serif; */
    /*background-color: yellow;*/
}

/* ===== Data on right size of Server Info Screen  ===== */
div.server_left_data {
    margin-bottom   : 4px;
    margin-left     : 40%;
    color           : black;
    background-color:   #f5f4f0;
    border:1px solid black;
    width           : 60%;
    /* font: 13px arial, sans-serif; */
    /*background-color: green;*/
}

/* ===== Data on Left size of Server Info Screen  ===== */
div.server_right_data {
    margin-bottom   : 4px;
    margin-left     : 40%;
    padding-left    : 5px;
    color           : black;
    background-color:   #f5f4f0;
    border:1px solid black;
    width           : 60%;
    /* font: 13px arial, sans-serif; */
    /*background-color: green;*/
}

div.bottom_buttons {
    clear           :   both; 
    /* font-family     :   Geneva, sans-serif;
    background-color:   #fff5c3;
    color           :    black;
    margin-left     :   auto;
    margin-right    :   auto; */
    width           :   95%;
    /* height          :   auto;  
    border          :   1px solid #000000;
    padding         :   1%; */
    /* font-size    :   12px; */
    /* margin       :   1px; */
}

