body,html{
    min-height      :   100vh;
    font-family     :   "Segoe UI", Tahoma, Helvetica, sans-serif;
    font-size       :   13px;
    margin          :   0 auto;
    box-shadow      :   1px 1px 8px #888;
}

#sadmWrapper{
    width           :   100%;
    height          :   100%;
    margin          :   0px;
    padding         :   0px;
}

#sadmHeader{
    clear           :   both;
    text-align      :   center;
    background-color:   rgb(55, 119, 102);
    padding         :   10px;
    margin          :   2px;
    border-width    :   1px;
    border-style    :   solid;
    border-color    :   #000000;
    border-radius   :   10px;
    margin-bottom   :   12px;
    border-radius   :   15px;
	box-shadow      :   3px 3px 5px #888;
	position        :   relative;
	top             :   5px;    
}

#sadmTopTitle{
    padding         :   10px;
    text-align      :   center;
    font-weight     :   bold;
    color           :   #FFFFFF;
}

#sadmTopMenu{
    padding         :   10px;
    text-align      :   center;
}

#sadmTopMenu ul{
    padding         :   0;
    margin          :   0;
    font-weight     :   bold;
    list-style      :   none;
}
#sadmTopMenu li{
    display         :   inline;
    padding         :   0 1em;
}

#sadmTopMenu li>a:link, #sadmTopMenu li>a:visited
{
    color           :   #FFFFFF;
    white-space     :   nowrap;
    text-decoration :   none;
}
#sadmTopMenu li>a:hover,#sadmTopMenu li>a:active
{
    color           :   #337AB7;
    background-color:   yellow;
    text-decoration :   none;
}

#sadmPageContents{
    display         :   -ms-flex;
    display         :   -webkit-flex; /* Safari */
    display         :   flex;
}

#sadmRightColumn{
    overflow-y      :   hidden;
    margin          :   2px;
    /* background-color:   #f8f8f2; */
    /* background-color:   #c0f5e8; */
    background-color:   #e3ecec;
    padding         :   10px;
    border-width    :   1px;
    border-style    :   solid;
    border-color    :   #000000;
    border-radius   :   10px;
    font-size       :   16px;
    width           :   85%;
}


#sadmFooter{
    clear           :   both;
    /* background-color:   #ECEFF3; */
    background-color:   #FF9800;
    padding         :   12px;
    border-width    :   1px;
    border-style    :   solid;
    border-color    :   #000000;
    border-radius   :   10px;
    font-size       :   13px;
    text-align      :   center;
    box-shadow      :   3px 3px 5px #888;
    margin-top      :   5px;
    
}



/*h1,h2,h3,h4,h5,h6{ margin-top:5px; margin-bottom:5px; }*/

h1 {
	font-size       :   28px;
	font-weight     :   bold;
	margin          :   6px 20px 10px 0px;
}
h2 {
	font-size       :   26px;
	font-weight     :   normal;
	margin          :   6px 20px 10px 0px;
}

h3 {
	font-size       :   22px;
	font-weight     :   normal;
	margin          :   6px 20px 10px 0px;
}

hr {
    display         :   block;
    height          :   1px;
    border          :   0;
    border-top      :   1px solid #ccc;
    margin          :   1em 0;
    padding         :   0;
    background-color:   black;
}


/*table,th,td{ border:1px solid black; }
th{ background: #3b56cf; }
tr:nth-child(even){ background:White; }
tr:nth-child(odd) { background:#E2E4FF; }
*/





.sub-section
{
	box-shadow      :   3px 3px 5px #888;
	border-radius   :   10px;
	background-color:   white;
	padding         :   10px 0 12px 0;
	margin          :   0 20px 10px 0;
}

.sub-section-header
{
	margin-left     :   10px;
	margin-right    :   10px;
	font-size       :   16px;
}

.sub-section-desc
{
	margin-left     :   15px;
    margin-bottom   :   0.5em;
}

.download-link
{
	text-decoration :   none;
	font-weight     :   bold;
	font-size       :   16px;
	color           : #45689F;
}

.sadmScreenOutput
{
    margin          :   20px 20px 20px 40px;
}


/* ---------------------------------------------------------------------------------------------- */
/*          THIS SECTION IS USED FOR THE TOP OF PAGE OF EVERY WEB PAGE                            */
/* ---------------------------------------------------------------------------------------------- */
#sadmHeader {
    height: 90px;
    /* background-color: #06425C; */
    /* background-color: #262626;  */
    background-color: #124f44; 
    color: white;
    /* text-align: left; */
    padding: 1px 1px 1px 5px;
}

#sadmLogo {
    float: left;
    padding: 10px;
}

#sadmEnteteLine1{
    /* clear   : both; */
    padding : 2px;
}

#sadmEntete1L {
    font-family: Verdana, Geneva, sans-serif;
    float: left;
    padding : 10px;
    /* font-size: x-large; */
    /* color : white; */
    color : #FFFFFF;
    font-size: 20px;
    text-decoration :   none;
	font-weight     :   bold;
}

#sadmEntete1R {
    font-family: Verdana, Monaco, monospace;
    float: right;
    color : #9B869C;
    padding : 5px;
    font-size: 14px;
    /* text-align: right; */
    font-weight: bold;
    /* display: block; */
}

#sadmEnteteLine2{
    clear   : both;
    padding : 1px;
}

#sadmEntete2L{
    font-family: Verdana, Geneva, sans-serif;
    float: left;
    padding : 10px;
    /* font-size: x-large; */
    /* color : white; */
    color : #DFC48C;
    font-size: 20px;
    text-decoration :   none;
	font-weight     :   bold;
}

#sadmEntete2R {
    font-family: Verdana, Monaco, monospace;
    float: right;
    color : #9B869C;
    padding : 5px;
    font-size: 14px;
    text-align: right;
    font-weight: bold;
    /* display: block; */
}



/* ---------------------------------------------------------------------------------------------- */
/*  SIMPLE FORM (TWO COLUMNS - 1 FOR THE LABEL AND 1 FOR THE DATA                                      */
/*  WE USED THIS FORM FOR SERVER CATEGORY AND GROUP                                               */
/* ---------------------------------------------------------------------------------------------- */
/* Attribute for the Category, Group Maintenance Form */
.simple_form {
    font-family     :   Verdana, Geneva, sans-serif;
    background-color:   #8ee9d4;
    color           :   black;
    width           :   50%;
    margin-top      :   5%;
    margin-left     :   auto;
    margin-right    :   auto;
    border          :   2px solid #000000;
    font-size       :   12px;
    text-align      :   left;
    padding         :   2%;
    border-width    :   1px;
    border-style    :   solid;
    border-color    :   #000000;
    border-radius   :   10px;
    line-height     :   1.7;    
}
/* Attribute for Column Name at the left of the form */
.simple_label {
    float           :   left;
    width           :   200px;
    font-weight     :   bold;    

}
/* Attribute for column Input at the right of the screen in the form */
.simple_input {
    float           :   left;
    margin-bottom   :   8px;
    color           :   black;
    width           :   200px;
    
}
/* Attribute for the Category, Group Main Screen Table (That List All Category, Group) */
#SimpleTable{
    width           :   95%;
    margin          :   auto;
}


/* ---------------------------------------------------------------------------------------------- */
/*  DOUBLE FORM (FOUR COLUMNS - 2 FOR THE LABEL AND 2 FOR THE DATA                                */
/*  WE USED THIS FORM FOR SERVER MAINTENANCE                                                      */
/* ---------------------------------------------------------------------------------------------- */
/* Attribute for the Category, Group Maintenance Form */
.double_form {
    font-family     :   Verdana, Geneva, sans-serif;
    background-color:   #8ee9d4;
    color           :   black;
    width           :   50%;
    margin-top      :   5%;
    margin-left     :   auto;
    margin-right    :   auto;
    border          :   2px solid #000000;
    font-size       :   12px;
    text-align      :   left;
    padding         :   2%;
    border-width    :   1px;
    border-style    :   solid;
    border-color    :   #000000;
    border-radius   :   10px;
    line-height     :   1.7;    
}
/* Attribute for Column Name at the left of the form */
.double_label {
    float           :   left;
    width           :   200px;
    font-weight     :   bold;    
}
/* Attribute for column Input at the right of the screen in the form */
.double_input {
    margin-bottom   :   8px;
    color           :   black;
    float           :   left;
    width           :   200px;
}

/* ---------------------------------------------------------------------------------------------- */
/*  CSS TO ALIGN THE TWO BUTTON AT THE BOTTOM OF A FORM (OK/CANCEL) (DELETE/CANCEL)               */
/*  THE TWO BUTTON ARE ALIGN IN THE CENTER OF PAGE AND HAVE SOME SPACE BETWEEN THEM               */
/* ---------------------------------------------------------------------------------------------- */
.two_buttons {
    width           :   100%;
}
.first_button{
    width           :   49%;
    float           :   left;
    text-align      :   right ;
}
.second_button{
    width           :   49%;
    float           :   right;
    text-align      :   left ;
}


/* ---------------------------------------------------------------------------------------------- */
/*  SIDEBAR CLASS DEFINITION                                                                      */
/* ---------------------------------------------------------------------------------------------- */

.SideBar{
    margin          :   2px;
    background-color:   #006456; 
    padding         :   10px;
    border-width    :   1px;
    border-style    :   solid;
    border-color    :   #000000;
    border-radius   :   10px;
    line-height     :   1.7;
    font-size       :   14px;
    width           :   15%;
    color           :   white;

}

.SideBarTitle{
    color           :   #FF9800;
    font-weight     :   bold;
}

.SideBarItem{
    margin-left     :   10px;
} 

.SideBarItem a:visited {
    color           :   rgb(235, 184, 16) ;
}

.SideBarItem a:link {
    color           :   white;
    text-decoration :   none;
}

.SideBarItem a:hover {
    color           :   yellow;
    background-color:   #80805c;
}

.SideBarItem a:active {
    color           :   red;
}
